@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Averia+Sans+Libre:700|Palanquin+Dark:400,700|Righteous&display=swap);
//Text


h1 {
  font-family: 'Averia Libre', sans-serif;
  font-weight: 700;
  size: 2em;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 800;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
}

.giant-header {
  font-size: 4.3em;
}

.nav-paragraph {
  font-size: 1.2em;
  position: fixed;
  width: 336px;
  top: 10%;
  right: 5%;
  line-height: normal;
}

.color-block {
  position: fixed;
  top: 5%;
  left: 3%;
  z-index: -1;
  width: 90%;
  height: 30%;
  background-color: rgba(95, 125, 153, .6)
}

.logo {
  position: fixed;
  top: 25%;
  right: 5%;
  z-index: -2;
  width: 100px;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
}

.trigger-link {
  text-decoration: underline;
  font-weight: 600;
}



//Helpers
.one-line-spread {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.one-line-left {
  display: flex;
  align-items: center;
  justify-content: left;
}


//Sections
.section {
  margin: 10px 15px;
}



.countUp,
.countDown {
  border: 0;
  font-family: 'FontAwesome';
  background-color: transparent;
}

.countUp {
  content: '\f0d8';
  padding: 10px 20px 30px 20px;
}

.countDown {
  content: '\f0d7';
  padding: 30px 20px 10px 20px;
}
